*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

p{
    color: rgb(189, 184, 184);
    font-size: 14px;
}

a{
    text-decoration: none;
}

body{
    background-color: #222020;
    overflow-x: hidden;
}

header{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/bg-img2.jpg")
    no-repeat center center/cover;
}

nav{
    text-transform: uppercase;
    position: relative;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-link{
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}

.nav-link:hover{
    color: rgb(156, 154, 154);
}

.active{
    color: #10bbcee1;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.close{
    display: none;
}

/* Home section */

.intro{
    color: white;
    text-align: center;
}

.intro .hello{
    font-size: 40px;
    font-weight: 200;
    color: rgb(207, 199, 199);
    margin-bottom: 0;
}

.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 500;
}

.intro-text{
    color: rgb(207, 204, 204);
    font-weight: 400;
    letter-spacing: 3px;
    margin: 20px 0 65px 0;
}

.specialty{
    color: #10bbcee1;
}

.btn{
    width: 120px;
    padding: 10px;
}

.btn-primary{
    color: #10bbcee1;
    background: transparent;
    border: 2px solid #10bbcee1;
    margin-right: 20px;
}

.btn-primary:hover{
    color: #10bbcee1;
    background: transparent;
    border: 2px solid #10bbcee1;
    transform: scale(1.01);
}

.btn-secondary{
    color: #ffffff;
    background: #10bbcee1;
    border: 2px solid rgba(0, 0, 0, 0);
}

.btn-secondary:hover{
    color: #ffffff;
    background: #10bbcee1;
    border: 2px solid rgba(0, 0, 0, 0);
    transform: scale(1.05);
}

/* about section */

.about-section{
    padding: 3rem 5rem;
}

.about-me{
    /* display: flex; */
   margin-top: 40px; 
  display: grid;
  grid-template-columns: 40% 60%;
  /* grid-column-gap: 3rem; */
} 

.about{
    color: grey;
    padding-left: 60px;
}

.my-img{
    height: auto;
    width: 30vw;
}

h2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2::after{
    display: block;
    content: "";
    width: 3rem;
    height: 0.15rem;
    margin-top: 0.75rem;
    margin-bottom: 0.9rem;
    background-color: #10bbcee1;
}

/* projects section */

.projects-section{
    padding: 3rem 5rem;
}

.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
    justify-content: center;
    align-content: center;
}

.project-img{
    width: 400px;
    height: 200px;
    margin-top: 50px;
}

.projects h6{
    text-align: center;
    color: #10bbcee1;
    margin-top: 18px;
}

.contact-section{
    padding: 3rem 5rem;
}

.contact{
    margin-top: 40px; 
    display: grid;
    grid-template-columns: 50% 50%;
}

.sub-heading{
    font-size: 16px;
    margin-bottom: 20px;
    color: #10bbcee1;
}

.field label {
    display: block;
    font-size: 12px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: rgb(180, 179, 179);
  }
  
  .field input {
    display: block;
    width: 80%;
    margin-bottom: 1.2rem;
    line-height: 1.5;
    height: 2.3rem;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    padding: 0 0.6rem;
    background-color: rgb(63, 62, 62);
    color: white;
  }

  .field input:focus{
      border: none;
      outline: none;
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3)
  }

  textarea{
      height: 6.5rem;
      width: 80%;
      border: none;
      border-radius: 2px;
      padding: 0.2rem 0.8rem;
      font-size: 14px;
      background-color: rgb(63, 62, 62);
      color: white;
  }

  textarea:focus{
    border: none;
    outline: none;
    box-shadow: inset 0 -1px 0 rgba(240, 239, 239, 0.3)
  }

  .sent{
      color: rgb(154, 218, 154);
      margin-top: 12px;
      display: none;
  }

  .tick{
      height: 14px;
      margin-left: 5px;
  }
  
  input[type="submit"] {
    color: #ffffff;
    background: #10bbcee1;
    border: 2px solid rgba(0, 0, 0, 0);
    display: block;
    width: max-content;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    margin-top: 1.5rem;
    font-size: 14px;
    border: none
  }

.fas, .twitter{
    color: #10bbcee1;
    margin-right: 12px;
}

.location{
    height: 18px;
    margin-right: 12px;
}

footer{
    color: white;
    padding: 3rem 5rem;
    width: 100%;
    background-color: black;
}

.footer-section{
    display: flex;
}

footer h6{
    color: #10bbcee1;
}

.skills p{
    font-weight: 300;
    padding: 0;
    margin: 3px;
}

.socials{
    display: flex;
}

.social{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(63, 62, 62);
    margin-right: 14px;
    font-size: 22px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

.fab{
    color: #10bbcee1;
}

.copyright p{
    text-align: center;
    color: rgb(71, 70, 70);
    font-weight: 500;
}

.me a{
    color: #10bbcee1;
}

@media screen and (max-width: 992px) {
    .mobile-menu{
        position: fixed;
        top: 0;
        left: -100%;
        border: none;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color:  rgb(63, 62, 62);
        z-index: 10;
        transition: left 0.8s;
        align-items: center;
        padding-top: 100px;
    }
    
    .show{
        left: 0;
    }

    .navbar-toggler{
        position: absolute;
        top: 2px;
        right: 4px;
        font-size: 30px;
        display: inline-block;
        text-align: center;
    }
    
    .close{
      display: block;
      position: absolute;
      font-size: 30px;
      top: 20px;
      right: 20px;
    }

    .intro h1{
        font-size: 50px;
    }

    main{
       width: 100%;
    }

    .about-section{
        padding: 2rem 1rem;
    }
    .about-me{
        grid-template-columns: 100%;
    }

    .my-img{
        width: 90vw;
    }

    .about{
        padding-left: 0px;
        padding-top: 2rem;
    }

    .projects-section{
        padding: 2rem 0;
    }

    .projects{
        grid-template-columns: auto;
        justify-content: center;
    }

    .project-img{
        width: 90vw;
    }

    .contact-section{
        padding: 2rem 1rem;
    }

    .contact{
        grid-template-columns: 90vw;
        justify-content: center;
    }

    .field input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    input[type="submit"] {
        margin-bottom: 50px;
    }

    footer{
        padding: 2rem 1rem;
        padding-bottom: 3rem;
    }

    .footer-section{
        flex-direction: column;
    }

    .socials{
        margin-top: 1rem;
    }
}
