*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

p{
    color: rgb(189, 184, 184);
    font-size: 14px;
}

body{
    background-color: rgb(34, 32, 32);
    overflow-x: hidden;
}

header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/bg-img2.jpg")
    no-repeat center/cover;
}

nav{
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-link{
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}

.nav-link:hover{
    color: rgb(156, 154, 154);
}

.active{
    color: #10bbcee1;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.intro{
    color: white;
    text-align: center;
}

.intro .hello{
    font-size: 40px;
    font-weight: 200;
    color: rgb(207, 199, 199);
    margin-bottom: 0;
}

.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 500;
}

.intro-text{
    color: rgb(207, 204, 204);
    font-weight: 400;
    letter-spacing: 3px;
    margin: 20px 0 65px 0;
}

.specialty{
    color: #10bbcee1;
}

.btn{
    width: 120px;
    padding: 10px;
}

.btn-primary{
    color: #10bbcee1;
    background: transparent;
    border: 2px solid #10bbcee1;
    margin-right: 20px;
}

.btn-primary:hover{
    color: #10bbcee1;
    background: transparent;
    border: 2px solid #10bbcee1;
    transform: scale(1.01);
}

.btn-secondary{
    color: #ffffff;
    background: #10bbcee1;
    border: 2px solid rgba(0, 0, 0, 0);
}

.btn-secondary:hover{
    color: #ffffff;
    background: #10bbcee1;
    border: 2px solid rgba(0, 0, 0, 0);
    transform: scale(1.05);
}

/* about section */

.about-section{
    padding: 3rem 5rem;
}

.about-me{
    display: flex;
    margin-top: 40px;
} 

.about{
    color: grey;
    padding-left: 60px;
}

.my-img{
    height: auto;
    width: 30vw;
}

h2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2::after{
    display: block;
    content: "";
    width: 3rem;
    height: 0.15rem;
    margin-top: 0.75rem;
    margin-bottom: 0.9rem;
    background-color: #10bbcee1;
}

/* projects section */

.projects-section{
    padding: 3rem 5rem;
}

.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
    justify-content: center;
    align-content: center;
}

.project-img{
    width: 400px;
    height: 200px;
    margin-top: 50px;
}

.projects h6{
    text-align: center;
    color: #10bbcee1;
    margin-top: 18px;
}

.contact-section{
    padding: 3rem 5rem;
}

.fas{
    color: #10bbcee1;
    margin-right: 12px;
}

footer{
    color: white;
    display: flex;
    /* grid-template-columns: auto auto; */
    padding: 3rem 5rem;
    width: 100%;
    background-color: black;
}

footer h6{
    color: #10bbcee1;
}

.skills p{
    font-weight: 300;
    padding: 0;
    margin: 3px;
}

.socials{
    display: flex;
}

.social{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(63, 62, 62);
    margin-right: 14px;
    font-size: 22px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

.fab{
    color: #10bbcee1;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 556px){
    .intro h1{
        font-size: 45px
    }
    
    .about-section{
        padding: 2rem 0;
    }
    .about-me{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-img{
        width: 90vw;
    }

    .about{
        padding-left: 0px;
        padding-top: 2rem;
        width: 90vw;
        overflow-x: hidden
    }

    .about btn{
        padding-top: 2rem;
    }

    .projects-section{
        padding: 2rem 0;
    }

    .projects{
        grid-template-columns: auto;
        justify-content: center;
    }

    .project-img{
        width: 95vw;
    }

    .contact-section{
        padding: 2rem 1rem;
    }

    footer{
        padding: 2rem 0;
        padding-bottom: 5rem;
        padding-left: 1rem;
        flex-direction: column;
    }

    .socials{
        margin-top: 1rem;
    }
}
